.bg {
    background-color: black;
    background-image: url(Texture_2_horizontal_0.4_full.png);
    background-attachment: fixed;
}

.container {
    font-family: 'Source Sans 3', sans-serif;
    margin-block-start: 20em;
    margin-block-end: 1em;
    margin-inline-start: 100px;
    margin-inline-end: 0;
    color: whitesmoke;
    text-transform: initial;
}

.container .exhibition {
    font-family: 'Source Sans 3', sans-serif;
    margin-block-start: 15em;
    margin-block-end: 0em;
    margin-inline-start: 0;
    margin-inline-end: 0px;
    color: whitesmoke;
}

.container .sponsors {
    font-family: 'Source Sans 3', sans-serif;
    margin-block-start: 15em;
    margin-block-end: 0em;
    margin-inline-start: 0;
    margin-inline-end: 0px;
    color: whitesmoke;
}

.container .contact {
    font-family: 'Source Sans 3', sans-serif;
    margin-block-start: 15em;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 100px;
    color: whitesmoke;
}

.container_2 {
    font-family: 'Source Sans 3', sans-serif;
    margin-block-start: -2.5em;
    margin-block-end: 1em;
    margin-inline-start: 100px;
    margin-inline-end: 0;
    color: whitesmoke;
}

.info {
    width: 50%;
}

.line {
    width: 52%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid rgb(255, 255, 255);
    opacity: 0.7;
    margin: 1em 0;
    padding: 0;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

span {
    margin-left: 20px;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

.align-items-center {
    align-items: center!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.justify-content-end {
    justify-content: end!important;
}

.flex-wrap {
    flex-wrap: wrap!important;
}

.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}

.d-flex {
    display: flex!important;
}

*, ::after, ::before {
    box-sizing: border-box;
}