body {
    font-family: 'Source Sans 3', sans-serif;
    color: whitesmoke;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    background-color: black;
    /* background-image: url(Texture_2_horizontal_0.4.png);
    background-attachment: fixed; */
}

header {
    padding: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.img {
    float: left;
    width: 30%;
    height: auto;
    margin: 1.66%;
}

.navbar-brand {
    font-size: 22px;
}

.bg-dark {
    background-color: hsl(0, 0%, 0%) !important;
}

.fadein img{
    opacity:1;
    transition: 1s ease;
}

.fadein img:hover{
    opacity:0.7;
    transition: 1s ease;
}


